<!DOCTYPE HTML>
<html  xmlns="http://www.w3.org/1999/xhtml"
       xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Data Profile Management</title>
    <th:block th:include="fragments/header :: static"></th:block>
</head>
<body>
<th:block th:include="fragments/header :: header"></th:block>

<div class="container">
    <div class="starter-template">
        <div th:if="${not #lists.isEmpty(entries)}">
            <h2>Entry List</h2>
            <table class="table table-striped">
                <tr>
                    <!--<th>Id</th>-->
                    <th>Entry Name</th>
                    <th>View</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                <tr th:each="entry : ${entries}">
                    <!--<td th:text="${entry.id}">
                        <a href="/user/entries/${entry.id}">Id</a>
                    </td>-->
                    <td th:text="${entry.entryName}">Entry Name</td>
                    <td>
                        <a th:href="${ '/user/profiles/' +  profile.id + '/entries/' + entry.id} + '/view'"
                           class="btn btn-primary a-btn-slide-text">
                            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                            <span><strong>View</strong></span>
                        </a>
                        <!--<a th:href="${ '/user/entry/' + entry.id}">View</a>-->
                    </td>
                    <td>
                        <a th:href="${'/user/profiles/' +  profile.id + '/entries/' + entry.id + '/edit'}"
                           class="btn btn-primary a-btn-slide-text">
                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                            <span><strong>Edit</strong></span>
                        </a>
                        <!--<a th:href="${'/user/entry/edit/' + entry.id}">Edit</a>-->
                    </td>
                    <td>
                        <a th:href="${'/user/profiles/'  +  profile.id + '/entries/' + entry.id + '/delete'}"
                           class="btn btn-primary a-btn-slide-text">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            <span><strong>Delete</strong></span>
                        </a>
                        <!--<a th:href="${'/user/entry/delete/' + entry.id}">Delete</a>-->
                    </td>
                </tr>
            </table>
        </div>

        <a th:href="${'/user/profiles/' +  profile.id + '/entries/new'}"
           class="btn btn-primary a-btn-slide-text">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            <span><strong>Add</strong></span>
        </a>

    </div>
</div>
<!-- /.container -->

<th:block th:include="fragments/footer :: footer"></th:block>
</body>
</html>




