<!DOCTYPE HTML>
<html  xmlns="http://www.w3.org/1999/xhtml"
       xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Data Feature Management</title>
    <th:block th:include="fragments/header :: static"></th:block>
</head>
<body>
<th:block th:include="fragments/header :: header"></th:block>

<div class="container">
    <div class="starter-template">
        <div th:if="${not #lists.isEmpty(features)}">
            <h2>Feature List</h2>
            <table class="table table-striped">
                <tr>
                    <!--<th>Id</th>-->
                    <th>Feature Name</th>
                    <th>View</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                <tr th:each="feature : ${features}">
                    <!--<td th:text="${feature.id}">
                        <a href="/user/features/${feature.id}">Id</a>
                    </td>-->
                    <td th:text="${feature.featureName}">Feature Name</td>
                    <td>
                        <a th:href="${ '/user/feature/' + feature.id}"
                           class="btn btn-primary a-btn-slide-text">
                            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                            <span><strong>View</strong></span>
                        </a>
                        <!--<a th:href="${ '/user/feature/' + feature.id}">View</a>-->
                    </td>
                    <td>
                        <a th:href="${'/user/feature/edit/' + feature.id}"
                           class="btn btn-primary a-btn-slide-text">
                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                            <span><strong>Edit</strong></span>
                        </a>
                        <!--<a th:href="${'/user/feature/edit/' + feature.id}">Edit</a>-->
                    </td>
                    <td>
                        <a th:href="${'/user/feature/delete/' + feature.id}"
                           class="btn btn-primary a-btn-slide-text">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            <span><strong>Delete</strong></span>
                        </a>
                        <!--<a th:href="${'/user/feature/delete/' + feature.id}">Delete</a>-->
                    </td>
                </tr>
            </table>
        </div>

        <a th:href="@{/user/feature/new}"
           class="btn btn-primary a-btn-slide-text">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            <span><strong>Add</strong></span>
        </a>

    </div>
</div>
<!-- /.container -->

<th:block th:include="fragments/footer :: footer"></th:block>
</body>
</html>




