<!DOCTYPE HTML>
<html  xmlns="http://www.w3.org/1999/xhtml"
       xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Data Profile Management</title>
    <th:block th:include="fragments/header :: static"></th:block>
</head>
<body>
<th:block th:include="fragments/header :: header"></th:block>

<div class="container">
    <div class="starter-template">
        <h2>Feature Details</h2>
        <div class="row">

            <label class="col-sm-2">Feature Name:</label>
            <div class="col-sm-10">
                <p th:text="${feature.featureName}">Feature Name</p>
            </div>

        </div>
    </div>
</div>
<!-- /.container -->

<th:block th:include="fragments/footer :: footer"></th:block>
</body>
</html>


