<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
	<title>User Login</title>
	<div th:replace="fragments/header:: static"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" />

</head>

<body>
	<th:block th:include="fragments/forms :: register"></th:block>
	<form th:action="@{/register}" method="get">
		<button class="btn btn-md btn-warning btn-block" type="Submit">Go To Registration Page</button>
	</form>
	<th:block th:include="fragments/forms :: login"></th:block>
</body>
</html>