<!DOCTYPE HTML>
<html  xmlns="http://www.w3.org/1999/xhtml"
       xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Data Profile Management</title>
    <div th:replace="fragments/header :: static"/>
    <script type="text/javascript">
        window.setTimeout(function () {
            // Move to a new location or you can do something else
            window.location.href = "/login";
        }, 3000);
    </script>
</head>
<body>
<div class="container">
    <div class = "well" style="align-content: center">
        <h3>User registered successfully! Jump to <a href="/login"><u>login page</u></a></h3>
    </div>
</div>
</body>
</html>