<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Spring Framework</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <div th:if="${not #lists.isEmpty(profiles)}">
        <h2>Profile List</h2>
        <table class="table table-striped">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>user</th>
            </tr>
            <tr th:each="profile : ${profiles}">
                <td th:text="${profile.id}"><a href="/profile/${profile.id}">Id</a></td>
                <td th:text="${profile.name}">Profile Name</td>
                <td th:text="${profile.user_id}">User</td>

            </tr>
        </table>

    </div>
</div>

</body>
</html>